@page "/employeeoverview"


<!-- ========== table components start ========== -->
<section class="table-components">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>Employees</h2>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->

        <!-- ========== tables-wrapper start ========== -->
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        @if (Employees == null)
                        {
                            <p><em>Loading...</em></p>
                        }
                        else
                        {
                        <div class="table-wrapper table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><h6></h6></th>
                                        <th><h6>Employee ID</h6></th>
                                        <th><h6>Name</h6></th>
                                        <th><h6>Email</h6></th>
                                        <th><h6>Contact</h6></th>
                                        <th><h6>Actions</h6></th>
                                    </tr>
                                    <!-- end table row-->
                                </thead>
                                <tbody>
                                    @foreach (var employee in Employees)
                                    {
                                        <tr>
                                            <td>
                                                <div class="employee-image">
                                                    <img src="@($"https://gillcleerenpluralsight.blob.core.windows.net/person/{employee.EmployeeId}-small.jpg")" class="rounded-circle" />
                                                </div>
                                            </td>
                                            <td class="min-width">
                                                <p>@employee.EmployeeId</p>
                                            </td>
                                            <td class="min-width">
                                                <p>@employee.FirstName @employee.LastName</p>
                                            </td>
                                            <td class="min-width">
                                                <p>@employee.Email</p>
                                            </td>
                                            <td class="min-width">
                                                <span class="status-btn active-btn">Active</span>
                                            </td>
                                            <td>
                                                <div class="action">
                                                    <a class="text-danger" href="@($"employeedetail/{employee.EmployeeId}")">
                                                        <i class="fas fa-info-circle"></i> &emsp;
                                                    </a>
                                                    <a class="text-danger" href="@($"employeeedit/{employee.EmployeeId}")">
                                                        <i class="fas fa-edit"></i> &emsp;
                                                    </a>
                                                    <a class="text-danger" @onclick="() => DeleteEmployee(employee.EmployeeId)">
                                                        <i class="lni lni-trash-can"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                        <!-- end table row -->
                                    </tbody>
                                </table>
                                <!-- end table -->
                            </div>
                        }
                    </div>
                    <!-- end card -->

                    <button @onclick="QuickAddEmployee" class="btn btn-dark table-btn quick-add-btn">&nbsp;&nbsp;+&nbsp;&nbsp;</button>
                    <AddEmployeeDialog @ref="AddEmployeeDialog" CloseEventCallback="@AddEmployeeDialog_OnDialogClose"></AddEmployeeDialog>

                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== tables-wrapper end ========== -->
    </div>
    <!-- end container -->
</section>
<!-- ========== table components end ========== -->